/* Default configurations */
$images = '/images'

/* Global variables vertical rhythm variables */
$base-font-size = 14px
$base-line-height = 1.5

$base-gap = $base-font-size * $base-line-height

$inner-wrapper-width = 80%
$inner-wrapper-min-width = 960px
$gutter-width = gap(1)

/* Font-families */
$base-font-family = 'Lora', serif
$display-font-family = 'Shanti', sans-serif

// Color-scheme, adapted from http://kuler.adobe.com/#themeID/1431231
$c-background = #fffff8

$c-light = #F2D8A7
$c-mid-cool = #00717D
$c-dark-cool = #003647
$c-mid-warm = #A4A66A
$c-dark-warm = #515932


// URL colors
$link-color = $c-mid-cool
$link-hover-color = $c-mid-warm
$link-visited-color = $c-mid-cool
$link-active-color = $c-mid-cool
$base-link-style()
  border none