/* Default configurations */
$images = '/images'

/* Global variables vertical rhythm variables */
$base-font-size = 21px
$base-line-height = 1.5

$base-gap = $base-font-size * $base-line-height

$inner-wrapper-width = 80%
$inner-wrapper-min-width = 960px
$gutter-width = gap(1)

/* Font-families */
$base-font-family = 'Georgia', serif
$display-font-family = 'Helvetica', sans-serif