// Color-scheme Coffee-Break, by kristi 
// From http://kuler.adobe.com/#themeID/90894

$c-light = #F2DFBC
$c-mid-cool = #8D9E71
$c-dark-cool = #7F7E60
$c-mid-warm = #FF9F8F
$c-dark-warm = #332822


$c-background = lighten($c-light, 10%)
$c-font = $c-dark-warm
$c-highlight = $c-mid-warm


$c-link = $c-mid-cool
$c-link-hover = $c-mid-warm
$c-link-visited = $c-mid-cool
$c-link-active = $c-mid-cool