!!! 5
| <!--[if lte IE 8 ]> <html lang="en" class="no-js oldie"> <![endif]-->
| <!--[if (gte IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  title
  meta(name='description', content='')
  meta(name='author', content='')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='shortcut icon', href='/favicon.ico')
  link(rel='apple-touch-icon', href='/apple-touch-icon.png')
  link(rel='stylesheet', href='/css/style.css?v=2')
  //if lt IE 9
      script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
      
body
  #container
    header
    #main(role='main')
      != body
    footer
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js')
  script
    !window.jQuery && document.write(unescape('%3Cscript src="/js/libs/jquery-1.6.2.min.js"%3E%3C/script%3E'))
  script(src='/js/plugins.js')
  script(src='/js/script.js')

| </html>